#logo-div {
    position: relative;
    text-align: center;
}

#header-name {
    
    font-size: 50px;
}


#logo-img {
    position: absolute;
    left: 50px;
    margin-top: 0px;
    width: 150px;
}
